<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <link rel='preload' href='/Museo_Slab_100-webfont.woff2' as='font' type='font/woff2' crossorigin='anonymous'>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script crossorigin src='https://unpkg.com/react@16/umd/react.production.min.js'></script>
    <script crossorigin src='https://unpkg.com/react-dom@16/umd/react-dom.production.min.js'></script>
    <script>
      // this is replaced with the real JSON payloads found in res/data/ using a
      // data-helper/ script. see webpack `externals` configuration
      window.dataPayloads = {
        metricCountA: null,
        metricCountPerColumn: null,
        sidebar: null
      }
    </script>
  </head>
  <body>
    <div id='root'></div>
    <% if (htmlWebpackPlugin.files.sprites) { %>
      <% for (var spriteFileName in htmlWebpackPlugin.files.sprites) { %>
        <%= htmlWebpackPlugin.files.sprites[spriteFileName] %>
      <% } %>
    <% } %>
  </body>
</html>