/* font is preloaded in a link tag aswell */
@font-face {
  font-family: 'Slab';
  src: url('../resources/fonts/Museo_Slab_100-webfont.woff2') format('woff2');
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Slab', serif;
  font-weight: 100;
  font-size: 150%;
  height: 100vh;
  overflow: hidden;
}
header { grid-area: header; }
#sidebar { grid-area: sidebar; }
main { grid-area: main; }

.wrapper {
  display: grid;
  height: 100vh;
  grid-template-areas: 'header header'
                       'sidebar main';
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto 1fr;
}
#sidebar {
  position: relative;
}
#sidebar, main {
  background-color: rgb(59, 59, 59);
  color: #fff;
  padding: 20px;
}
#stats {
  height: 95%;
  display: flex;
  flex-direction: column;
}
#stats > div {
  flex: 1;
}
#stats h1 {
  background-color: #ff5259;
  color: #fff;
  font-size: 1em;
  padding: 10px 15px;
  margin: 20px 0 10px;
  border-radius: 4px;
}
#stats span {
  display: inline-block;
  font-size: 3em;
  color: gainsboro;
  position: relative;
  margin: 0 0 20px 40px;
}
#info {
  position: absolute;
  bottom: 5px;
  left: 10px;
  font-size: 40%;
}
header {
  background: #fff;
  padding: 15px;
}
header svg {
  vertical-align: bottom;
}
header em {
  margin-left: 20px;
  font-size: 0.5em;
}
main {
  display: flex;
  flex-direction: column;
  padding: 30px 30px 0;
}
.row {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
sub {
  margin-left: 20px;
  font-size: 0.5em;
  font-style: italic;
}
sub svg {
  width: 40px;
  height: 40px;
}
@media (max-width: 600px) {
  body {
    font-size: 0.85em;
    height: auto;
    overflow: scroll;
  }
  .wrapper {
    height: auto;
    display: flex;
    flex-direction: column;
  }
  #sidebar, main {
    padding: 0 10px 20px;
  }
  #stats {
    height: auto;
    display: block;
  }
  #stats div {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    padding: 0 10px;
  }
  #stats span, sub {
    display: block;
    margin: 10px 0 0;
  }
  #info {
    text-align: center;
  }
  sub svg {
    width: 20px;
    height: 20px;
  }
  main {
    padding-top: 10px; /* for legends */
    width: 100%;
    height: 1000px;
    overflow-x: scroll;
  }
  main > div {
    width: 600px;
  }
}

/* needed to apply some recharts hacks to get it to work correctly */
.recharts-legend-wrapper {
  left: 30px !important;
  bottom: -14px !important;
}
.recharts-default-tooltip {
  background-color: #222 !important;
}
.recharts-tooltip-label, .recharts-tooltip-item {
  font-weight: bold;
}
.recharts-legend-item {
  font-size: 80%;
}
.recharts-legend-item .recharts-surface {
  margin: 0 7px 7px !important;
}
