/* font is preloaded in a link tag aswell */
@font-face {
  font-family: 'Slab';
  src: url('../resources/fonts/Museo_Slab_100-webfont.woff2') format('woff2');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Slab', serif;
  font-size: 10pt;
  background: #ccc;
}

#root, main {
  position: relative;
  margin: 0 auto;
  width: 8.5in;
  height: 11in;
  color: #fff;
  background-color: #000;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

a {
  color: #ff9294;
}

/* if this CSS gets too long, move parts of it into their components */

header {
  font-family: Sans-Serif;
  background: #fff;
  color: #000;
  position:  relative;
  padding: 0.25cm;
  margin-bottom: 0.5cm;
}

header em {
  font-weight: bold;
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: 0.1cm;
}

header h1 {
  letter-spacing: 0.01cm;
  font-weight: bold;
  margin: 0;
}

.stats {
  display: flex;
  justify-content: space-around;
}

.stat {
  text-align: center;
}

.stat h1 {
  background-color: #ff5259;
  color: #fff;
  font-size: 12pt;
  width: 160px;
  padding: 10px 15px;
  margin: 0 0 10px;
  border-radius: 4px;
}

.stat span {
  font-size: 0.8cm;
  position:  relative;
  color: gainsboro;
  display: block;
}

.stat div {
  margin-top: 5px;
  font-size: 0.4cm;
  font-weight: bold;
  position: absolute;
  right: -30px;
  bottom: 0;
}

section {
  width: 4.25in;
  padding-top: 0.5cm;
  display: inline-block;
  vertical-align: top;
  padding-left: 0.5cm;
}

.hrgap {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, transparent, #fff, transparent);
  margin: 25px 0 20px;
}

#info {
  position: absolute;
  bottom: 5px;
  right: 10px;
  color: #efefef;
  font-size: 50%;
}

table {
  font-family: Sans-Serif;
  display: block;
  border-collapse: collapse;
}

th {
  font-weight: bold;
  font-size: 80%;
  background-color: #4e4e4e;
  border-bottom:  1px solid;
  padding-bottom: 10px;
}

th, td {
  text-align: left;
  padding: 5px 10px;
}

td {
  font-size: 80%;
  color: #ccc;
  border-bottom: 0.5px solid #6f6f6f;
}

td:nth-child(2) {
  width: 2in;
}

td:nth-child(3) {
  width: 1.2in;
  text-align: right;
}

td:nth-child(4) {
  width: 1in;
}

.recharts-default-tooltip {
  background-color: #000 !important;
}

.recharts-legend-wrapper {
  left: 30px !important;
  bottom: -14px !important;
}